html,
body {
    height: 100%;
}

body {

    background-image: url("images/0PA.jpg");
    background-repeat: repeat-x;
    background-position: center;
}

/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}