html,
body {
    height: 100%;
}

body {
    background-color: #ffff00;

}

.navbar {
    color: #FFFFFF;
    background-color: #CC3333;
}

.nav {
    color: #FFFFFF;
    background-color: #CC3333;
}

.navbar-default {
    background-color: ##ff0000;
    border-color: ##ff0000;
}


