html,
body {
    height: 100%;
}

body {
    background-color: #ffff00;

}

/* navbar */
/*.navbar-default {
    background-color: #ffff00;
    border-color: #E7E7E7;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #ffff00;*/
}

.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}