html,
body {
    height: 100%;
}

body {
    background-color: #ffff00;

}

.navbar {
    color: #FFFFFF;
    background-color: #CC3333;
}

.nav {
    color: #FFFFFF;
    background-color: #CC3333;
}

