header.backgroungpicframe .site-heading{padding:200px 0 80px;color: gold
}


.navbar-nav > li{
    padding-left:100px;
    padding-right:100px;
}


.navbar-nav > li{font-size:20px;color:#212529;font-family:Lora,'Times New Roman',serif}


body {
    background-image: url("paper.gif");
    background-repeat: repeat-x;
    background-color: black;
}

header.backgroungpicframe .page-heading h1,header.backgroungpicframe .site-heading h1{font-size:75px;margin-top:0

header.backgroungpicframe .page-heading h3,header.backgroungpicframe .site-heading h1{font-size:50px;margin-top:0

.navbar-custom {
    background-color: #ff5500;
}



